// CONTENT 2013 STYLES
html{
  height: 100%;
}

body{
  background: $black url('../images/background_tile.jpg');
  height: 100%;
}

.preview{
  padding: 1em 0 1em 0;
}

.date{
  width: 5em;
  p{
    margin: 0;
    padding: 0;
    line-height: .8em;
    font-size: .8em;
  }
}

.number{
  p{
    font-size: 2em;
    line-height: 1em;
    font-family: "sonarbold";
    margin-top: -0.3em;
    margin-bottom: 0;
  }
}


.years{
  font-family: "sonarbold";
  background: $red;
  color: $white;
  font-size: 1em;
  text-align: center;
  padding: .5em 0 .5em 0;
}

.days{
  padding: .2em 0 .2em 0; 
  background: $white;
  color: $grey;
  display: block;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  p{
    padding: .1em 0 .1em 0;
  }
}

.title, .maintitle{
  h1, h2{
    font-family: "sonarnormal";
    margin: 0;
    padding: 0;
    line-height: 1.1em;
    color: $white;
    text-transform: uppercase;      
    a{
      color: $white;
    }
  }
}

.main{
  padding-top: 5em;
}

.maintitle{
  padding-bottom: .5em;
  border-bottom: 3px solid $blue;
}

.posts{
  padding-top: 3em;
}

.tags{
  padding: .1em 0 .1em 0;
  font-size: .7em;
  font-family: "sonarbold";
  ul{
    list-style: none;
    li{
      background: $blue;
      color: $white;
      text-align: center;
      text-transform: uppercase;
      margin-top: 1em;
    }
  }
}

.space{
  font-size: .5em;
}

.text{
  font-family: "sonarnormal";
  padding-bottom: 1em;
  background: $white;
  border-top: 3px solid $blue;
  border-bottom: 3px solid $blue;
  p, h1, h2, h3, h4, h5, ul, ol, li{
    color: $grey;
    padding-top: 1em;
    margin: 0;
  }
  p{
    padding-left: 1em;
  }
  a, a:active, a:visited{
    font-family: "sonarbold";
    color: $red;
  }
  a:hover{
    background: $blue;
    color: $white;
  }
  ul, ol{
    padding-left: 1em;
    list-style: square;
    padding-top: 0;
  }
}

.more{
  text-align: right;
  padding-top: 1em;
  text-transform: uppercase;
  a, a:active, a:visited{
    font-family: "sonarnormal";
    background: $red;
    padding: .2em 1em .2em 1em;
    color: $white;
  }
  a:hover{
    background: $blue;
    color: $white;
  }
  margin-bottom: 1em;
}

.name{
  h1{
    a{
      font-size: 2em;
      font-family: "sonarbold";
      span{
        font-size: 0.85em;
        font-family: "sonarnormal";
      }
    }
  }
}

.top-bar-section{
  a{
    text-align: center;
  }
  img{
    margin-top: 1em;
  }
}

.links{
  margin-top: 1em;
  line-height: 1.5em;
  text-align: center;
  a, a:active, a:visited{
    color: $blue;
    text-transform: uppercase;
    span{
      font-family: "sonarbold";      
      text-transform: none;
    }
  }
}

.links:hover{
  background: $blue;
  a, a:active, a:visited{
    color: $white;
    cursor: pointer;
  }
}

.tweets{
  margin-top: 1em;
  border-top: 3px solid $blue;
  border-bottom: 1px solid $blue;
}

.tweet{
  padding-top: 1em;
  color: $blue;
  font-size: .8em;
  line-height: 1em;
}