%div.event-navigation-wrapper
  %ul#event-navigation.event-navigation
    %li
      %a.thursday{:href=>"/", :data => {:zoom => 12, :lat => 52.49432, :lon => 13.42894}}  thursday
    %li
      %a.friday{:href=>"/", :data => {:zoom => 14, :lat => 52.52238, :lon => 13.4132}} friday
    %li
      %a.saturday{:href=>"/", :data => {:zoom => 12, :lat => 52.4464, :lon => 13.6412}} saturday
    %li
      %a.sunday{:href=>"/", :data => {:zoom => 13, :lat => 52.4464, :lon => 13.6412}} sunday

