/ .fork-on-github
/   %a.github(href="https://github.com/eurucamp/2013.eurucamp.org" title="For the repository for this page on Github")
/     %span Fork us on Github

%div.row.header
  %div.twelve.columns
    %h1
      %a(href='/')
        = image '/images/layout/header/logo.png', [360, 1024, 1280], :alt => "eurucamp 2013"
