/ .fork-on-github
/   %a.github(href="https://github.com/eurucamp/2013.eurucamp.org" title="For the repository for this page on Github")
/     %span Fork us on Github

%div.row.header
  %div.columns.small-4.large-12
    %h1
      %a(href='/')
        = image '/images/layout/header/logo_small.png', :alt => "eurucamp 2013"
